@font-face {
    font-family: "Commissioner";
    src: url("../fonts/Commissioner-Regular.woff2") format("woff2"),
        url("../fonts/Commissioner-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Commissioner";
    src: url("../fonts/Commissioner-Medium.woff2") format("woff2"),
        url("../fonts/Commissioner-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Commissioner";
    src: url("../fonts/Commissioner-Bold.woff2") format("woff2"),
        url("../fonts/Commissioner-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html{
    box-sizing: border-box;
}
*
*::after, *::before{
    box-sizing: inherit;
}
:root{
    --Moderate-cyan: #3cb4ac;
    --Dark-cyan: #147a73;
    --Black: #000000;
    --Dark-gray:#7a7a7a;
    --opack-gray:#7a7a7a0d;
    --site-fon:#f2f2f2;
}
body{
    padding: 0;
    margin: 0;
    font-family:"Commissioner", "Arial", sans-serif ;
    font-size: 16px;
    line-height: 30px;
    color: var(--Dark-gray);
    background-color: var(--site-fon);
}
img{
    max-width: 100%;
    height: auto;
    display: block;}
    /* button */
    .button{
     display: inline-block;
     padding: 17px 33px 19px;
     border-radius: 34px;
     text-decoration: none;
     text-align: center;
     font-weight: 700px;
     line-height: 20px;
    }

/* HEADER */
.site-header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.sitenav{
    padding-top: 48px;
    padding-bottom: 60px;
    background: #aaa;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    opacity: 0.6;
    font-weight: 500px;
    
    
}
.sitenav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container{
    max-width: 1150px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.sitenav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sitenav-item{
    margin-left: 33px;
}
.sitenav-link{
    text-decoration: none;
    color: white;
    height: 16px;
    font-size: 13px;
    line-height: 16px;

}
.sitenav-link:hover{
    text-decoration: underline;
}
/* MAIN */
.card{
    border-radius: 8px;
    padding: 48px;
    background-color: white;
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
}
.content-hero-wrapper{
    display: flex;
    justify-content: center;
}
.content-page-container{
    width: 770px;
    
}
.content-img-hero{
    height: 400px;
    object-fit: cover;
}
.main-card{
    position: relative;
    text-align: center;
    padding-top: 56px;
}
.main-card-logo{
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
}
.main-card-title{
    font-weight: bold;
font-size: 28px;
line-height: 34px;
color: #000000;
margin-top: 0;
margin-bottom: 15px;

}
.main-card-text{
    margin-top: 0;
    line-height: 20px;
}
.main-card-buttons{
    margin-top: 24px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.button-back{
    background-color: var(--Moderate-cyan);
    color: white;
}
.button-back:hover{
    background-color: var(--Dark-cyan);
}
.button-bookmark{
    background-color: var(--opack-gray);
    padding-left: 24px;
    padding-right: 24px;
    color: var(--Dark-gray);
}
.button-bookmark:hover{
    color: var(--Dark-cyan);
   

}